<footer class="fred-foot" role="contentinfo">
	<div class="fred-logo">
		<a href="/" class="logo"><img src="/images/fred-foot.png"></a>
	</div>
	<p>Begin learning Front-end Development and Design with the community today!</p>
	<p><small>FRED&copy;2013 and Proudly an OpenSource Project</small></p>
</footer>

<!-- Grid Toggle -->
<script>window.onload=function(){var b=document.body;b.onkeypress=function(a){if(103==a.keyCode||103==a.charCode)a=b.getAttribute("data-development-grid"),null===a||"hide"==a?b.setAttribute("data-development-grid","show"):b.setAttribute("data-development-grid","hide")}};</script>
