<head>
	{% if page.layout == 'fred' %}
	<title>{{ page.prefix }}{{ site.title }} for {{ page.title }}</title>
	{% elsif page.layout == 'homepage' %}
	<title>{{ site.title }}</title>
	{% else %}
	<title>{{ page.title }} - {{ site.title }}</title>
	{% endif %}

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Code+Pro:900">
	<link rel="stylesheet" href="/stylesheets/style.css?{{ site.time | date: "%y%m%d%H%M%S" }}">
</head>
