// ==========================================================================
//
// $Plugins
//
// ==========================================================================

@import "compass";
@import "breakpoint";
@import "singularitygs";


// ==========================================================================
//
// $Resets
//
// ==========================================================================

@import "../_vendor/sass/normalize/2.1.0/normalize";


// ==========================================================================
//
// $Vars
//
// ==========================================================================

$color-link: #fff;
$color-background: #eee;
$color-brand-dark: #336;
$color-brand-primary: #339;
$color-brand-focus: #66f;


// ==========================================================================
//
// $Typography
//
// ==========================================================================

$font-default: 'OpenSansSemibold', sans-serif;
$font-monospace: 'Source Code Pro', monospace;

body {
	color: #333;
	font-family: $font-default;
	font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-monospace;
	font-weight: 600;
	margin-top: 0;
	text-transform: uppercase;
	letter-spacing: .1em;
}

.fred-group-content {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		background: #dedede;
		padding: 0.5em 1em;
		margin-top: 2em;
	}
	p {
		padding: 0.2em 1em 0.3em;
		line-height: 1.5em;
	}
}


// ==========================================================================
//
// $Modules/Layout
//
// ==========================================================================

@import "layout/grid";
@import "layout/fred-head";
@import "layout/group";
@import "layout/page";


// ==========================================================================
//
// $Viewport
//
// ==========================================================================

// http://dev.w3.org/csswg/css-device-adapt/
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
// for IE10 Snap Mode on Metro
@-ms-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}