// ==========================================================================
//
// $Global Imports
//
// ==========================================================================

@import "compass";
@import "../_vendor/sass/normalize/2.1.0/normalize";


// ==========================================================================
//
// $Color Variables
//
// ==========================================================================

$color-link: #fff;
$color-background: #eee;
$color-brand-dark: #336;
$color-brand-primary: #339;
$color-brand-focus: #66f;


// ==========================================================================
//
// $Fonts
//
// ==========================================================================

$font-default: 'Open Sans', sans-serif;
$font-monospace: 'Source Code Pro', monospace;

body {
	font-family: $font-default;
	font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-monospace;
	font-weight: 600;
	margin-top: 0;
	text-transform: uppercase;
	letter-spacing: .1em;
}


// ==========================================================================
//
// $Grid settings
//
// ==========================================================================

@import "layout/grid";

.fred {
	// @include container;
	padding: 0;
}

// Layout imports
@import "layout/fred-head";
@import "layout/group";
@import "layout/page";


// ==========================================================================
//
// $Viewport
//
// ==========================================================================

// http://dev.w3.org/csswg/css-device-adapt/
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
// for IE10 Snap Mode on Metro
@-ms-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}