// External imports
@import "susy";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "vendor/normalize/2.1.0/normalize";

$font-monospace: 'Source Code Pro', monospace;

// Colours
$color-link: #fff;
$color-background: #eee;
$color-brand-dark: #336;
$color-brand-primary: #339;
$color-brand-focus: #66f;

body {
	font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
	background: $color-brand-dark;
	background: url(/img/bg.png);
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-monospace;
	font-weight: 600;
	margin-top: 0;
}

// Grid settings
@import "layout/grid";

.fred {
	@include container;
	padding: 0;
}

// Layout imports
@import "layout/fred-head";
@import "layout/group";
@import "layout/page";
