.fred-head,
.fred-foot {
	@include pad(1,1);
	clear: both;
	@include clearfix;
	background-color: #0F076B;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1NiIgaGVpZ2h0PSIxMDAiPgo8cmVjdCB3aWR0aD0iNTYiIGhlaWdodD0iMTAwIiBmaWxsPSIjMEYwNzZCIj48L3JlY3Q+CjxwYXRoIGQ9Ik0yOCA2NkwwIDUwTDAgMTZMMjggMEw1NiAxNkw1NiA1MEwyOCA2NkwyOCAxMDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzMzM2E5OSIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+CjxwYXRoIGQ9Ik0yOCAwTDI4IDM0TDAgNTBMMCA4NEwyOCAxMDBMNTYgODRMNTYgNTBMMjggMzQiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzMzM2E5OSIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+Cjwvc3ZnPg==");
	position: relative;
	text-align: center;
	color: #FFF;
}

.fred-head {
	padding-top: 60px; // originally 120px
	padding-bottom: 105px; // originally 120px
}

.fred-foot {
	padding-top: 120px;
	padding-bottom: 120px;
}

.fredup-welcome {
	list-style: none;
	padding: 0;
	display: inline-block;
	max-width: 600px;
	.logo {
		@include transition(.3s opacity ease-in-out);
		margin-bottom: 20px;
		display: block;
	}
}