.fred-head,
.fred-foot {
	@include pad(1,1);
	clear: both;
	@include clearfix;
	background: #fff image-url('ascii-bg.png') 50% 0;
	position: relative;
	text-align: center;
}

.fred-head {
	padding-top: 60px; // originally 120px
	padding-bottom: 105px; // originally 120px
}

.fred-foot {
	padding-top: 120px;
	padding-bottom: 120px;
}

.fredup-welcome {
	list-style: none;
	padding: 0;
	display: inline-block;
	max-width: 600px;
	.logo {
		@include transition(.3s opacity ease-in-out);
		opacity: .85;
		&:hover {
			opacity: 1;
		}
	}
}