.fred-head {
	@include pad(1,1);
	padding-top: 20px;
	padding-bottom: 20px;
	clear: both;
	@include clearfix;
}

.fred-logo {
	@include span-columns(3, 14);
}

.logo {
	text-decoration: none;
	background: image-url('logo-300x300.png');
	background-size: cover;
	width: 150px;
	height: 150px;
	text-indent: -9999px;
	display: block;
	margin: 0 auto;
}

.fred-nav {
	@include span-columns(11 omega, 14);

	& > ul {
		list-style: none;
		float: right;

		& > li {
			float: left;
		}
	}
}

.fred-nav-link {
	color: $color-link;
	display: block;
	padding: 9px 12px;
	text-decoration: none;
	background: $color-brand-primary;
	border: 3px solid $color-brand-focus;
	@include border-radius(5px);
	margin: 0 0 0 10px;

	&:hover {
		background: $color-brand-focus;
	}
}
