.fred-group-header {
	font: 36px 'Source Code Pro';
	margin: 0 0 20px;
	padding: 10px 0;
	text-align: center;
	@include span-columns(16 omega, 16);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	color: #FFF;
	@include text-shadow(0 1px 1px black);
	@include border-radius(6px);
	@include box-shadow(inset 0px -1px 6px black);
}

.fred-group-content{
	@include pad(1,1);
}

.fred-group-info {
	@include span-columns(8, 14);

	& > p:first-child {
		font-size: 125%;
	}
}

.fred-group-map {
	@include span-columns(6 omega, 14);
}

.fred-group-map-frame {
	width: 100%;
	height: 450px;
}
