.fred-page {
	background: $color-background;
}

.fred-page-header {
	@extend .fred-group-header;
}

.fred-page-content {
	@extend .fred-group-content;
	padding-top: 15px;
	padding-bottom: 10px;
}

section {
	font-family: $font-monospace;
	font-weight: 300;
	line-height: 2em;
	position: relative;
	color: #fff;

	@media screen and (max-width: 47.0625em) {
		padding: 100px 20px;
	}
	@media screen and (min-width: 47.0626em) {
		padding: 100px;
	}

	h2 {
		font-size: 2em;
		text-align: center;
	}
}

section ul {
	display: inline-block;
	padding: 0;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}

section ul li {
	display: inline-block;
	*display: inline; // The asterisk only triggers IE7 and below
	zoom: 1; // triggers hasLayout for IE
	list-style: none;
}

section .current-freds {
	text-align: center;
	text-transform: uppercase;
}

section .splitter {
	margin: 0 10px;
}

section ul li a {
	text-decoration: none;
}

.wrap {
	max-width: 600px;
	margin: 0 auto;
}

.what {
	background: white;
	color: #999;
	h2 {
		color: #339;
	}
}

.get-involved {
	background: #144497 image-url('arrow-666.png') no-repeat 50% 0;
	color: #ccc;
	padding-top: 150px;
	h2 {
		color: #fff;
	}
}

.who {
	background: #eee image-url('arrow-339.png') no-repeat 50% 0;;
	color: #999;
	padding-top: 150px;
	h2 {
		color: #339;
	}
	a {
		text-decoration: none;
	}
}